.env
.idea/
certs/
certs-data/
wordpress/
wordpress.default/
!.env_example
!nginx/default*
*.zip
wp-config.php
.htpasswd
!shared/www/wp-content/plugins
!shared/www/wp-content/plugins/
!shared/www/wp-content/plugins/*
!shared/www/wp-content/plugins/**
shared/www
shared/backup
shared/logs
