.env*
.idea/
certs/
certs-data/
logs/
nginx/
mysql/
wordpress/
wordpress.default/
!.env_example
!nginx/default*
*.zip
wp-config.php
backup/*
.htpasswd
shared/www
!shared/www/wp-content/plugins
shared/backup
